streamlit
pandas
sentence-transformers
chromadb
langchain-core
langchain-community
tiktoken
faiss-cpu
#llama_cpp_python #[metal] @ git+https://github.com/abetlen/llama-cpp-python.git
numpy
#llama-cpp
rapidfuzz
streamlit-feedback
Pillow
transformers
torch
pysqlite3-binary>=0.5.4